<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la recherche</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .highlight {
            background-color: red;
        }
    </style>
</head>
<body>
    <h1>Résultats de la recherche</h1>
    <form method="POST">
        <label for="query">Recherche 1 :</label>
        <input type="text" name="query" id="query" required>
        <label for="query2">Recherche 2 :</label>
        <input type="text" name="query2" id="query2" required>
        <label for="lieu">Lieu :</label>
        <input type="text" name="lieu" id="lieu" required>
        <button type="submit">Rechercher</button>
    </form>
    
    
    {% if results %}
    <table>
        <thead>
            <tr>
                <th>Nom du site</th>
                <th>Adresse web</th>
                <th>Adresse Email</th>
                <th>Ajouter site</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results['unique_results'] %}
            <tr>
                <td>{{ result[0][1] }}</td>  <!-- Accédez au nom du site -->
                <td>{{ result[1][1] }}</td>  <!-- Accédez à l'URL du site -->
                <td>{{ result[2][1] }}</td>  <!-- Accédez à l'email -->
                <td>
                    <button onclick="addSite('{{ result[1][1] }}', this)">Ajouter site à la blacklist de recherche</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    

    <script>
        function addSite(siteUrl, button) {
            // Extraire l'URL de base
            var baseUrl = new URL(siteUrl).origin;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/add_sites", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Changer la couleur de fond de la ligne parente
                    var row = button.parentNode.parentNode;
                    row.classList.add("highlight");
                    alert("Site ajouté avec succès !");
                }
            };
            xhr.send(JSON.stringify({ site_url: baseUrl }));
        }
    </script>
</body>
</html>
